// colors
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 10%, 1);
$lightgrey: hsla(0, 0%, 76%, 1);
$medgrey: hsla(0, 0%, 44%, 1);
$darkgrey: hsla(0, 0%, 20%, 1);
$accent: hsla(185, 100%, 51%, 1);
$error: hsla(355, 88%, 64%, 1);
